

/* font-family: 'Exo', sans-serif;
font-family: 'Special Elite', cursive;
font-family: 'Syne Mono', monospace; */
/* Everything - body, a tags, and such */

#b52 h1 {
  font-family: 'Special Elite', cursive;
}
